#promote {
  cursor: pointer;
  text-align: center;
  width: 18px;
  height: 18px;
  padding: 3px;
  border-radius: 50%;
  background: darkgreen;
  position: fixed;
  top: 2px;
  right: 2px;
  color: white;
  opacity: 0.1;
  z-index: 69;
  transition: opacity 0.2s ease-out;
}

#promote:hover {
  opacity: 1;
  transition: opacity 0.2s ease-out;
}

.dr-image {
  border-width: 2px;
  border-color: white;
  border-radius: 5px;
}
